<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ weather.city }} Weather </title>
</head>
<body>
    <h1> Weather Report - {{weather.city}}, {{weather.country}}</h1>
    <ul>
        <li><strong>ID:</strong>{{weather.id}}</li>
        <li><strong>Latitude:</strong> {{weather.latitude}}</li>
        <li><strong>Longitude:</strong> {{weather.longitude}}</li>
        <li><strong>Temperature:</strong>{{weather.temperature}}</li>
        <li><strong>Elevation:</strong>{{weather.elevation}}</li>
        <li><strong>Wind Speed:</strong> {{weather.windspeed}}</li>
        <li><strong>Observation Time:</strong>{{weather.observation_time}}</li>
    </ul>
    <a href="/weather">Back to all Observations</a>
</body>
</html>